        body{
            background-color: rgb(25, 25, 25);
            color: white;
            font-family: Arial;
        }
        .title{
            font-size: 30px;
            font-weight: bold;
        }
        .move-icon{
            height: 50px;
        }
        .move-button{
            background-color: transparent;
            border: 3px solid white;
            padding: 30px;
            border-radius: 100px;
            margin-right: 10px;
            margin-bottom: 35px;
            cursor: pointer;
        }
        .reset-button{
            background-color: white;
            padding: 10px 15px;
            font-size: 15px;
            border: none;
            font-family: Arial;
            cursor: pointer;
        }
        .JS-score {
            margin-top: 60px;
        }
        .JS-result{
            font-size: 25px;
            font-weight: bold;
            margin-top: 50px;
        }
